
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */
@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));



:root {

  --background: oklch(1.00 0.00 0);
  --foreground: oklch(0.15 0.03 267.12);
  
  --primary: oklch(0.54 0.19 265.31);
  --primary-foreground: oklch(0.95 0.02 271.24);
  
  --card: oklch(0.98 0.01 271.33);
  --card-foreground: oklch(0.15 0.03 267.12);
  
  --popover: oklch(1.00 0.00 0);
  --popover-foreground: oklch(0.15 0.03 267.12);
  
  --secondary: oklch(0.93 0.02 267.93);
  --secondary-foreground: oklch(0.00 0.00 0);
  
  --muted: oklch(0.95 0.02 271.24);
  --muted-foreground: oklch(0.51 0.00 0);
  
  --accent: oklch(0.95 0.02 271.24);
  --accent-foreground: oklch(0.17 0.04 265.49);
  
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(0.98 0.00 247.86);
  
  --border: oklch(0.91 0.03 268.66);
  
  --input: oklch(0.84 0.02 267.26);
  
  --ring: oklch(0.54 0.19 265.31);
  
  --chart-1: oklch(0.54 0.19 265.31);
  --chart-2: oklch(0.60 0.16 266.79);
  --chart-3: oklch(0.70 0.12 267.92);
  --chart-4: oklch(0.74 0.10 268.97);
  --chart-5: oklch(0.79 0.08 268.25);
  
  --sidebar: oklch(0.99 0.00 264.54);
  --sidebar-foreground: oklch(0.15 0.03 267.12);
  --sidebar-primary: oklch(0.54 0.19 265.31);  
  --sidebar-primary-foreground: oklch(0.95 0.02 271.24);
  --sidebar-accent: oklch(0.54 0.19 265.31);
  --sidebar-accent-foreground: oklch(0.95 0.02 271.24);  
  --sidebar-border: oklch(0.91 0.03 268.66);
  --sidebar-ring: oklch(0.54 0.19 265.31);
  
  --radius: 0.5rem;
      
}

.dark {

  --background: oklch(0.00 0.00 0);
  --foreground: oklch(0.93 0.02 267.93);
  
  --primary: oklch(0.54 0.19 265.31);
  --primary-foreground: oklch(0.95 0.02 271.24);
  
  --card: oklch(0.16 0.01 264.28);
  --card-foreground: oklch(0.93 0.02 267.93);
  
  --popover: oklch(0.00 0.00 0);
  --popover-foreground: oklch(0.93 0.02 267.93);
  
  --secondary: oklch(0.27 0.08 266.14);
  --secondary-foreground: oklch(1.00 0.00 0);
  
  --muted: oklch(0.21 0.00 0);
  --muted-foreground: oklch(0.60 0.00 0);
  
  --accent: oklch(0.27 0.08 266.14);
  --accent-foreground: oklch(0.93 0.02 267.93);
  
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(0.98 0.00 247.86);
  
  --border: oklch(0.20 0.05 266.03);
  
  --input: oklch(0.31 0.02 270.60);
  
  --ring: oklch(0.54 0.19 265.31);
  
  --chart-1: oklch(0.54 0.19 265.31);
  --chart-2: oklch(0.48 0.16 265.57);
  --chart-3: oklch(0.40 0.13 265.50);
  --chart-4: oklch(0.35 0.12 266.00);
  --chart-5: oklch(0.31 0.10 265.38);
  
  --sidebar: oklch(0.18 0.00 264.46);
  --sidebar-foreground: oklch(0.93 0.02 267.93);
  --sidebar-primary: oklch(0.54 0.19 265.31);  
  --sidebar-primary-foreground: oklch(0.95 0.02 271.24);
  --sidebar-accent: oklch(0.54 0.19 265.31);
  --sidebar-accent-foreground: oklch(0.95 0.02 271.24);  
  --sidebar-border: oklch(0.20 0.05 266.03);
  --sidebar-ring: oklch(0.54 0.19 265.31);
  
  --radius: 0.5rem;
      
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px); */

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-shake: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
/* 
  --container-screen-sm: 640px;
  --container-screen-md: 768px;
  --container-screen-lg: 1024px;
  --container-screen-xl: 1280px;
  --container-screen-2xl: 1536px; */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @theme {

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-shake: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

  --container-screen-sm: 640px;
  --container-screen-md: 768px;
  --container-screen-lg: 1024px;
  --container-screen-xl: 1280px;
  --container-screen-2xl: 1536px;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
} */

/* @utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
} */

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
} */

@layer base {
  :root {
    --radius: 0.5rem;
    /* other radix / shadcn variables are stored and configured by 
      @link{./hooks/useTheme.ts} 
    */
  }
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

.tsqd-parent-container .tsqd-transitions-container>div {
  /* button[aria-label="Open Tanstack query devtools"] aint it.*/
  margin-top: 50px;
}

.jotai-devtools-trigger-button {
  margin-top: 100px;
}

/*
High Constrast Color Theme management: 
  for the 10 and 9 levels of the bg palette,
  we need to set the text color to dark variant

  High contrast colors are defined in ./hooks/useTheme.ts
  following: https://www.radix-ui.com/colors/docs/palette-composition/understanding-the-scale#steps-910-solid-backgrounds
*/

body {
  /* --primary-fg: var(--primary-1);
  --secondary-fg: var(--secondary-1); */
}
/* (fancy circle background)
body.dark {
  background: 
  radial-gradient(
    circle at 20% 20%,
    var(--primary-1) 0%,
    transparent 50%
  ),
  radial-gradient(
    circle at 80% 80%,
    var(--secondary-1) 0%,
    transparent 50%
  ),
  var(--base-1);
}

body {
  background: 
  radial-gradient(
    circle at 20% 20%,
    var(--primary-1) 0%,
    transparent 50%
  ),
  radial-gradient(
    circle at 80% 80%,
    var(--secondary-1) 0%,
    transparent 50%
  ),
  var(--base-1);
} */

/* body.hc-secondary {
  --secondary-fg: var(--base-1)
}
body.hc-primary {
  --primary-fg: var(--base-1)
} */

/* body.hc-primary .bg-primary-10.text-base-12,
body.hc-primary .bg-primary-9.text-base-12,
body.hc-secondary .bg-secondary-9.text-base-12,
body.hc-secondary .bg-secondary-10.text-base-12 {
  color: var(--base-1)
}

body.hc-primary .bg-primary-10.text-base-11,
body.hc-primary .bg-primary-9.text-base-11,
body.hc-secondary .bg-secondary-9.text-base-11,
body.hc-secondary .bg-secondary-10.text-base-11 {
  color: var(--base-2)
}

body.hc-secondary .bg-secondary-9.text-secondary-11,
body.hc-secondary .bg-secondary-10.text-secondary-11 {
  color: var(--secondary-2)
}

body.hc-secondary .bg-secondary-9.text-secondary-12,
body.hc-secondary .bg-secondary-10.text-secondary-12 {
  color: var(--secondary-1)
}

body.hc-primary .bg-primary-9.text-primary-11,
body.hc-primary .bg-primary-10.text-primary-11 {
  color: var(--primary-2)
}

body.hc-primary .bg-primary-9.text-primary-12,
body.hc-primary .bg-primary-10.text-primary-12 {
  color: var(--primary-1)
} */

.tlmsg img {
  @apply inline-block
}